// Default Colors
$black: #161616;
$white: #ffffff;
$dark: #000000;

// Font Family Variables
$font-family-primary: 'Bitcount Grid Double', 'Montserrat', 'Noto Sans Sunuwar', 'Open Sans', sans-serif;
$font-family-fallback: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

$secondary: #262262;
$secondary-dark: #002E63;
$secondary-light: #E2F0FF;

$primary: #be1e2d;
$primary-dark: #99001A;
$primary-light: #fa6377;