// Default Colors
$black: #161616;
$white: #ffffff;
$dark: #000000;


$secondary: #262262;
$secondary-dark: #002E63;
$secondary-light: #E2F0FF;


$primary: #be1e2d;
$primary-dark: #99001A;
$primary-light: #fa6377;