@use "../base/variable" as *;

.custom-backtop {
  background-color: $primary;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  right: 30px;
  bottom: 50px;
  font-size: 24px;
  position: fixed;
  z-index: 1000;
  &.ant-fade-leave-active {
    display: none;
  }
}

.custom-backtop svg {
  font-size: 24px;
}

.choose {
  position: relative;
  overflow: hidden;
  padding-bottom: 160px;

  & > .container {
    z-index: 1;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -26%;
    height: 100%;
    width: 140%;
    background: url("../svg/dash.svg") no-repeat center;
    background-size: cover;
    z-index: 0;

    @media (max-width: 512px) {
      width: 100%;
    }
  }

  &-wrap {
    display: flex;
    margin-top: 40px;
    gap: 50px;
    flex-direction: column;

    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  &-card {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 15px 0px rgb(0, 0, 0, 10%);
    text-align: center;

    @media (min-width: 768px) {
      padding: 40px 40px;
      text-align: left;
    }

    h4 {
      font-weight: 600;
      text-transform: uppercase;
    }

    .paragraph {
      color: #aeaeae;
    }

    &.center {
      transform: none;
      background-color: #4f1e9f;

      @media (min-width: 768px) {
        transform: translateY(40px);
      }

      h4,
      .paragraph {
        color: $white;
      }
    }
  }
}
.icon-ChalkboardTeacher {
  color: white;
}

