@use "../base/variable" as *;

// Top Bar Styles
.top-bar {
  background: $secondary;
  padding: 10px 0;
  color: $white;

  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      flex-direction: column;
      gap: 10px;
    }
  }

  .contact-info {
    display: flex;
    gap: 20px;

    @media (max-width: 1070px) and (min-width: 980px) {
      gap: 10px;
    }

    a,
    span {
      color: $white;
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        color: $primary;
      }

      .anticon {
        font-size: 16px;
      }
    }
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      width: 32px;
      height: 32px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      background-color: white;
      transition: all 0.3s ease;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &:hover {
        // background-color: rgba(255, 255, 255, 0.2);
        background-color: $secondary;
        transform: translateY(-1px);
      }
    }
    @media (max-width: 1070px) and (min-width: 980px) {
      color: red;
      gap: 5px;
    }
    @media (max-width: 980px) and (min-width: 949px) {
      // gap: 4px;
      color: green;
    }
    // @media (max-width: 950px) and (min-width: 760px) {
    //   gap: 4px;
    //   color: orange;
    //   span {
    //     font-size: 12px;
    //   }
    // }
  }
}

// Header Styles
.header {
  background: transparent;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 100;

  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    a {
      width: 135px;
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        width: 70px;
      }

      img {
        width: 115%;
      }
    }
  }

  &-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
    margin: 0 50px;

    li {
      padding: 0 20px;

      a {
        color: white;
        font-weight: 600;
        font-size: 1.1rem;
        transition: color 0.3s ease;

        &:hover {
          color: rgba($secondary, 0.5);
        }
      }

      &.menuButtonListDesk {
        display: block;

        @media (max-width: 767px) {
          display: none;
        }
      }

      &.menuButtonList {
        display: none;

        @media (max-width: 767px) {
          display: block;
        }

        .menuButton {
          padding: 0;

          span svg {
            color: $white;
            font-size: 20px;
          }
        }
      }
      @media (max-width: 1070px) and (min-width: 970px) {
        padding: 0 10px;
      }
      @media (max-width: 970px) and (min-width: 880px) {
        padding: 0 5px;
      }
    }
  }
  @media (max-width: 970px) and (min-width: 880px) {
    .header-list {
      margin: 0 0px;
    }
  }

  .auth-section {
    button {
      border-radius: 20px;
      padding: 6px 20px;
      border: 2px solid $white;
      color: white;
      // border-color: $primary;

      &:hover {
        border-color: $white;
        color: $white;
      }
    }
  }
}

// Mobile Menu Styles
.header-list-mobile {
  list-style: none;
  padding: 0;

  li {
    a {
      padding: 15px;
      display: block;
      color: $black;
      font-weight: 600;
      border-radius: 4px;
      transition: all 0.3s ease;

      &:hover {
        background: $primary;
        color: $white;
      }
    }
  }
}

// Dropdown Styles
.ant-dropdown-menu {
  border-radius: 5px;
  padding: 0;
  overflow: hidden;

  &-item {
    padding: 10px 15px;

    &:hover {
      background: $primary;
      color: $white;
    }
  }
}
